.MovieCard {
  border-radius: 10px;
  position: relative;

  box-shadow: var(--box-shadow);
}

.MovieCard > img {
  width: 100%;
  object-fit: contain;
}

.details {
  position: absolute;
  bottom: 0;

  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 0.5rem;
}

.details a {
  color: white;
  text-decoration: none;
}

.details .readBtn {
  cursor: pointer;
  display: block;
  margin: 0.5rem;

  text-align: center;

  padding: 0.25rem;
  border-radius: 5px;

  background-color: rgb(var(--purple));
  box-shadow: 0 2px 8px 0 rgba(117, 76, 255, 0.25);
  color: rgb(var(--txt-light));
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.2s, box-shadow 0.08s ease-in;
}

.details .readBtn:hover {
  background-color: rgb(var(--purple), 0.8);
}
